@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes glowFlow {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

a {
  text-decoration: none;
}

/* GLOBAL SCROLLBAR (Modern + Clean) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(120, 118, 150, 0.35);
  border-radius: 10px;
  transition: background 0.25s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(120, 118, 150, 0.55);
}

/* calling */
@keyframes borderGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
