@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes glowFlow {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

a {
  text-decoration: none;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  border-radius: 0.8rem;
  background-color: #13111C;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0.9em #33323E;
  outline: none;
  border-radius: 0.8rem;
}

/* calling */
@keyframes borderGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
